Hello {{.Username}}!

As requested, we have scheduled a deletion of your account on {{.DeletionDate}}.

We will send you one more reminder letting you know that your account is being deleted before fully confirming the action. You may ignore this and subsequent reminders if you are aware of the action.

Until then, you can restore your account using the link below.

{{.SettingsLink}}
