Hello {{.Username}},

You have requested your account to be deleted.

We have scheduled to delete your data on {{.DeletionDate}}.

If you would like to cancel the deletion, please log in and visit the settings page {{.SettingsLink}}.

For support, contact hello@overdoll.com
