build --enable_platform_specific_config
build --incompatible_strict_action_env
run --incompatible_strict_action_env
run --incompatible_restrict_string_escapes=false
build --incompatible_restrict_string_escapes=false
