# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
#
node_modules
tilt_modules
__pycache__
.helm
bazel-*
.env
build
.nyc_output
applications/medusa/coverage

# IDEA
.ijwb
.idea.bak
.idea
.garden
tilt_options.json

yarn-error.log
error.log
telepresence.log
logs.log
tilt_options.json
.buildkite/config/target
codecov.sh
cache
applications/sting/internal/ports/graphql/queries/resolvers.go
