# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
#
node_modules
tilt_modules
__pycache__
.helm
bazel-*
.env
build
.nyc_output
applications/medusa/coverage
eslint_cache
ts_cache
tmp
dist
artifacts
.next
out
cypress.json
target

# IDEA
.ijwb
.idea.bak
.idea
.garden
tilt_options.json

.env.backup

development/local-files

yarn-error.log
error.log
telepresence.log
logs.log
.buildkite/config/target
codecov.sh
cache
applications/sting/internal/ports/graphql/queries/resolvers.go

**/__locale__/_build/
**/__locale__/**/*.ts
**/__locale__/**/*.js
