{{template "layout.html" .}}

{{define "title"}}Subscription Payment Failure{{end}}

{{define "content"}}
    {{.Username}}
    {{.ClubName}}
    {{.ClubLink}}

    <br/>

    {{.SubscriptionLink}}
{{end}}


