{{template "layout.gohtml" .}}

{{define "title"}}Subscription Failed{{end}}

{{define "content"}}
    Hello {{.Username}}!
    <br/>
    Unfortunately, we were not able to renew your subscription.
    <br/>
    Please update your payment details for the club {{.ClubName}}.
    <br/>
    You can update it here: <a href="{{.SubscriptionLink}}">Manage Subscriptions</a>
    <br/>
    For support, contact hello@overdoll.com
{{end}}


