body {
    background-color: #131313 !important;
}

.main-body {
    background-color: #1a1a1a !important;
    max-width: 600px;
    height: 100%;
    align-self: center;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 2.25rem !important;
}

h2 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.25rem !important;
}

h4 {
    font-size: 1.125rem !important;
}

h5 {
    font-size: 1rem !important;
}

h6 {
    font-size: 0.875rem !important;
}

.link a:link a:hover a:visited a:active {
    color: #bfbfbf !important;
    text-decoration: none !important;
    font-size: 1rem !important;
}

.small td {
    height: 2.5rem !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    border-radius: 1rem !important;
}

.small p {
    font-size: 1rem !important;
}

.medium td {
    height: 3rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    border-radius: 5rem !important;
}

.medium p {
    font-size: 1.125rem !important;
}

.medium a {
    font-size: 1.125rem !important;
}

.large td {
    height: 4rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    border-radius: 5rem !important;
}

.large a {
    font-size: 1.5rem !important;
}

.large p {
    font-size: 1.5rem !important;
}

.primary td {
    background-color: hsla(342, 100%, 58%, 1) !important;
    border-color: hsla(342, 100%, 58%, 1) !important;
}

.primary p {
    background-color: hsla(342, 100%, 58%, 1) !important;
    color: hsla(346, 90%, 15%, 1) !important;
}

.primary a {
    background-color: hsla(342, 100%, 58%, 1) !important;
    color: hsla(346, 90%, 15%, 1) !important;
}

.gray td {
    background-color: #242424 !important;
}

.gray p {
    background-color: #242424 !important;
    color: #ffffff !important;
}

.gray a {
    background-color: #242424 !important;
    color: #ffffff !important;
}

.auth-code div {
    padding: 0.5rem;
    background-color: hsla(342, 100%, 58%, 1) !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    border-radius: 1rem !important;
}

.auth-code p {
    color: hsla(346, 90%, 15%, 1) !important;
    font-size: 2rem !important;
    font-weight: bold;
}

.outline-primary td {
    background-color: transparent !important;
    border: 12px solid #ff2969 !important;
    color: hsla(342, 100%, 58%, 1) !important;
}

.outline-primary p {
    color: hsla(342, 100%, 58%, 1) !important;
}

.outline-primary a {
    background-color: transparent !important;
    color: hsla(342, 100%, 58%, 1) !important;
}


