APP_KEY=AES256Key-32Characters1234567890
APP_VERSION=local
APP_ENV=local
APP_DEBUG=true

DB_HOST=simple-cluster-client.scylla
DB_USERNAME=""
DB_PASSWORD=""

ELASTICSEARCH_URL=http://elastic:overdoll123@quick-es-http.elasticsearch:9200

TEMPORAL_URL=temporal-frontend-headless.temporal:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_ENCRYPTION_KEY=AES256Key-32Characters1234567890

EVA_SERVICE=eva:8080
STING_SERVICE=sting:8080

PASSPORT_SECRET=passport_secret
