Hello {{.Username}},

Your club {{.ClubName}} ({{.ClubLink}}), has not created a post in {{.ElapsedDays}} days.

As part of our platform rules, you must post supporter-only content every 30 days if you collect subscriptions.

Your club will be subject to termination if you do not create a post before the 30-day mark.

For support, contact hello@overdoll.com
