{{template "layout.gohtml" .}}

{{define "title"}}Subscription Cancelled{{end}}

{{define "content"}}
    Hello {{.Username}}!
    <br/>
    We have cancelled your subscription to {{.ClubName}} ({{.ClubLink}}).
    <br/>
    Your club supporter benefits will expire on {{.ExpirationDate}}.
    <br/>
    To manage your subscription, click here: <a href="{{.SubscriptionLink}}">Manage Subscriptions</a>
    <br/>
    For support, contact hello@overdoll.com
{{end}}


