{{template "layout.gohtml" .}}

{{define "content"}}
    Hello {{.Username}}!

    We have cancelled your subscription to {{.ClubName}} ({{.ClubLink}}).

    Your club supporter benefits will expire on {{.ExpirationDate}}.

    To manage your subscription, visit {{.SubscriptionLink}}

    For support, contact hello@overdoll.com
{{end}}


