Hello {{.Username}}!

As requested, we have cancelled your subscription for {{.ClubName}} ({{.ClubLink}}).

You will no longer be billed. Your club supporter benefits will expire on {{.ExpirationDate}}.

Should you choose to keep your benefits, you may wait for the subscription to expire and resubscribe directly from the club page.

To manage your subscription, visit {{.SubscriptionLink}}

Please contact hello@overdoll.com if you have any questions or concerns.
