{{template "layout.gohtml" .}}

{{define "title"}}Supporter No Posts{{end}}

{{define "content"}}
    Club {{.ClubName}} ({{.ClubLink}}) has not posted any supporter-only content for almost 30 days.
{{end}}


