APP_KEY=AES256Key-32Characters1234567890
APP_VERSION=local
APP_ENV=local
APP_DEBUG=true

DB_HOST=simple-cluster-client.scylla
DB_USERNAME=""
DB_PASSWORD=""

ELASTICSEARCH_URL=http://elastic:overdoll123@quick-es-http.elasticsearch:9200

TEMPORAL_URL=temporal-frontend-headless.temporal:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_ENCRYPTION_KEY=AES256Key-32Characters1234567890

EVA_SERVICE=eva:8080
PARLEY_SERVICE=parley:8080
CARRIER_SERVICE=carrier:8080
LOADER_SERVICE=loader:8080

PASSPORT_SECRET=passport_secret

SENTRY_DSN=""

RESOURCES_URL="https://sandbox-overdoll-resources.s3.amazonaws.com"
PRIVATE_RESOURCES_URL="https://dcd9vpqfvvgum.cloudfront.net"
UPLOADS_URL="https://sandbox-overdoll-uploads.s3.amazonaws.com"

AWS_ACCESS_KEY=""
AWS_ACCESS_SECRET=""
AWS_ENDPOINT=""
AWS_REGION="us-east-1"

RESOURCES_BUCKET="sandbox-overdoll-resources"
PRIVATE_RESOURCES_BUCKET="sandbox-overdoll-private-resources"
UPLOADS_BUCKET="sandbox-overdoll-uploads"

PASSPORT_SECRET="passport_secret"

AWS_PRIVATE_RESOURCES_KEY_PAIR_ID=""
AWS_PRIVATE_RESOURCES_KEY_PAIR_PRIVATE_KEY=""
