{{template "layout.gohtml" .}}

{{define "title"}}Account Deletion Reminder{{end}}

{{define "content"}}
    Hello {{.Username}},
    <br/>
    This is a reminder that your account will be deleted on {{.DeletionDate}}.
    <br/>
    We will send you one final email once the account and the data has been deleted.
    <br/>
    If you would like to cancel the deletion, please log in and visit the settings page {{.SettingsLink}}.
    <br/>
    For support, contact hello@overdoll.com
{{end}}
