Hello {{.Username}},

This is a reminder that your account will be deleted on {{.DeletionDate}}.

We will send you one final email once the account and the data has been deleted.

If you would like to cancel the deletion, please log in and visit the settings page {{.SettingsLink}}.

For support, contact hello@overdoll.com
