{{template "layout.gohtml" .}}

{{define "title"}}Account Deleted{{end}}

{{define "content"}}
    Hello {{.Username}},
    <br/>
    Your account has been deleted.
    <br/>
    Your account cannot be recovered, and you must make a new one if you would like to use our platform again.
    <br/>
    For support, contact hello@overdoll.com
{{end}}
