Hello {{.Username}},

Your account has been deleted.

Your account cannot be recovered, and you must make a new one if you would like to use our platform again.

For support, contact hello@overdoll.com
