PUBLIC_PATH=https://overdoll.test/
URL=https://overdoll.test
CLIENT_PUBLIC_PATH=https://overdoll.test/
PUBLIC_URL=/build
APP_DEBUG=true
PORT=8080
SESSION_SECRET=AES256Key-32Characters1234567890
REDIS_URL=redis-master
NODE_TLS_REJECT_UNAUTHORIZED=0
APP_VERSION=local
DISABLE_CSRF=true
TESTMAIL_NAMESPACE=
TESTMAIL_API_KEY=
