DB_HOST=simple-cluster-client.scylla.svc
ELASTICSEARCH_URL=http://elasticsearch-master.elasticsearch.svc:9200
TEMPORAL_URL=temporal-frontend-headless.temporal:7233
TEMPORAL_NAMESPACE=default

STATIC_URL=https://static.dollycdn.test
APP_URL=https://overdoll.test

APP_DEBUG=true

AWS_ACCESS_KEY=overdoll123
AWS_ACCESS_SECRET=overdoll123
AWS_ENDPOINT=http://minio.minio
AWS_REGION=us-east-1

LIBWEBP_VERSION=1.1.0

PASSPORT_SECRET=passport_secret
