EVA_SERVICE=eva:8000
STING_SERVICE=sting:8000
APP_DEBUG=true
REDIS_URL=redis-master:6379
COOKIE_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ123456
COOKIE_BLOCK_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ123456
ENABLE_INTROSPECTION=true
RABBITMQ_URL=amqp://test:test@rabbitmq
ELASTICSEARCH_URL=http://elasticsearch-master.elasticsearch.svc:9200