<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Redirecting...</title>
</head>
<script>
  window.opener.postMessage({
    payload: { token: "{{ .Token }}" },
    source: 'overdoll-ccbill-flexforms-payment-flow'
  }, "{{ .Origin }}")
</script>
</html>
