{{template "layout.html" .}}

{{define "title"}}Subscription Refunded{{end}}

{{define "content"}}
    {{.Username}}
    {{.ClubName}}
    {{.ClubLink}}

    <br/>

    {{.SubscriptionLink}}
    {{.FormattedAmount}}
    {{.TransactionLink}}
{{end}}


