Hello {{.Username}}!

As requested, we have refunded the amount {{.FormattedAmount}} back to your card.

This refund was for your subscription to {{.ClubName}} ({{.ClubLink}}).

You may manage your subscription at any time using the button below.

{{.SubscriptionLink}}

Please contact hello@overdoll.com if you have any questions or concerns.
