Hello {{.Username}}!

We've refunded the amount {{.FormattedAmount}} back to your card.

For reference, the refund was for {{.ClubName}} ({{.ClubLink}})

Your subscription was not cancelled. To manage your subscription, visit {{.SubscriptionLink}}.

For support, contact hello@overdoll.com
