Hello {{.Username}},

Your club {{.ClubName}} ({{.ClubLink}}), has been suspended.

The suspension will be lifted on {{.EndTime}}. During this time, you cannot collect new subscriptions or create new posts.

Please contact hello@overdoll.com for additional information.
