Hello {{.Username}}!

Your club {{.ClubName}} ({{.ClubLink}}) has been suspended for violating the platform's club guidelines.

During this time, you will not be able to collect new subscriptions or create any posts.

The suspension will last until {{.EndTime}}, after which you will be able to unsuspend your club.
