Thank you for your purchase - Order # {{.SubscriptionId}}

Billing Details: Purchase of {{.FormattedAmount}} to {{.ClubName}} ({{.ClubLink}})

To manage your subscription, sign in and visit {{.SubscriptionLink}}.

Your subscription will be from {{.BillingDateStart}} to {{.BillingDateEnd}}

We will renew your subscription automatically on {{.BillingDateEnd}}.

For future renewals, we send monthly emails with upcoming renewals.

For support, contact hello@overdoll.com
